body {
    background-color:white;
    margin:0 auto;
    font-size:12px;
    
}
/*ID*/
#Body
{
    background-color:white;
    height:1200px;
    margin:0 auto;
    width:1015px
}
#Content
{
    border: 1px solid gray;
    height:1000px;
    width:1010px;
}
#Center
{
    border: 1px solid gray;
    height:960px;
    width:700px;
}
#Footer
{
    border:1px solid gray;
    height:100px;
    width:1010px;
}
#Left
{
    border:1px solid gray;
    height:960px;
    width:280px;
}
#Right
{
    border:1px solid gray;
    height:960px;
    width:300px;
}
#Top
{
    border:1px solid gray;
    height:100px;
    width:1010px
}
/*Claase*/
.cFL
{
    float:left;
}
.cFR
{
    float:right;
}
.cPosRel
{
    position:relative;
}
.cPosAbs
{
    position:absolute;
}
